.bg {
    @apply bg-gradient-to-r from-blue-500 to-indigo-500 rounded-r-md overflow-hidden relative;
}

.bgPerson {
    background: url('/assets/img2.png') no-repeat;
    background-position: 65% 6.25em;
    @apply absolute w-full h-full bg-cover z-10;
}

.bgCloud1 {
    background: url('/assets/cloud_1.png') no-repeat;
    @apply absolute w-40 h-40 bg-contain top-[65%] z-20 animate-cloud1 -translate-x-[150%];
}

.bgCloud2 {
    background: url('/assets/cloud_2.png') no-repeat;
    @apply absolute w-44 h-44 bg-contain top-[49%] animate-cloud2 -translate-x-[150%];
}

.bgCloud3 {
    background: url('/assets/cloud_1.png') no-repeat;
    @apply absolute w-44 h-44 bg-contain top-[10%] animate-cloud3 -translate-x-[100%];
}
